@import url("https://use.typekit.net/dxl5rsb.css");

$primary: hsl(222, 13%, 15%);
$secondary: hsl(37, 48%, 87%);
$white: hsl(255, 100%, 100%);
$black: hsl(0, 0%, 24%);

$font-title: 'armada, sans-serif';
$font-weight-title: 400;

$font-special: 'trailmade, script';
$font-weight-special: 400;

$font-body: 'acumin-pro, sans-serif';
$font-weight-body: 400;
