@use '!styles/abstracts/variables' as v;
@use '!styles/components/buttons/base' as *;

/* purgecss start ignore */
.button {
  @extend %btn;

  &.is-primary {
    background: v.$primary;
    color: v.$white;
  }

  &.is-secondary {
    background: v.$secondary;
    color: v.$black;
  }

  &.is-white {
    background: v.$white;
    color: v.$black;
  }

  &.is-black {
    background: v.$black;
    color: v.$white;
  }
}
/* purgecss end ignore */
