{% extends 'layouts/app.twig' %}

{% block content %}
    <main class="container mx-auto">

        <h1>Luxe en comfortabel wonen</h1>
        <h2>Luxe en comfortabel wonen</h2>
        <h3>Luxe en comfortabel wonen</h3>
        <h4>Luxe en comfortabel wonen</h4>
        <h5>Luxe en comfortabel wonen</h5>
        <h6>Luxe en comfortabel wonen</h6>

        <p>
            Accuptur, sin cuptate ped ma sinihil inctaquid molupid unt
            latiorecepre volupta quidemquis es doloris di re
            sitiae de sitio tet aut ligenduci totate liquas debit min et invellam,
            sit ma cus quatem il maximet usantinus doluptatatur as esent, volor aut mod
            essitatiur sum quodite mpedit aut adis sundist empelen Giassum, nonectio.

            <a href="#">Dit is een linkje</a>
        </p>

        <h1 class="font-special">24 koopappartementen op Oostenburg</h1>
        <h2 class="font-special">24 koopappartementen op Oostenburg</h2>
        <h3 class="font-special">24 koopappartementen op Oostenburg</h3>
        <h4 class="font-special">24 koopappartementen op Oostenburg</h4>
        <h5 class="font-special">24 koopappartementen op Oostenburg</h5>
        <h6 class="font-special">24 koopappartementen op Oostenburg</h6>
    </main>
{% endblock %}
