<nav class="nav-bar" role="navigation">
    {% do action('werf8_pre_header_nav') %}
    <a href="/" class="nav-item">Home</a>
    <a href="#" class="nav-item">Locatie</a>
    <a href="#" class="nav-item">Wongingen</a>
    {% do action('werf8_post_header_nav') %}
</nav>
