<nav class="nav-bar" role="navigation">
    {% do action('werf8_pre_header_nav') %}
    {% for item in primaryMenu.items %}
        <a class="{{ item.classes|join(' ') }} nav-item"
           href="{{ item.link|apply_filters('werf8_nav_item_link_' ~ item.id) }}"
           title="{{ item.title|apply_filters('werf8_nav_item_title_' ~ item.id) }}">
            {{ item|apply_filters('werf8_nav_item_name_' ~ item.id) }}
        </a>
    {% endfor %}
    {% do action('werf8_post_header_nav') %}
</nav>
