<header role="banner" class="header">
    <div class="container mx-auto lg:flex">
        <div class="header-start">
            {% do action('werf8_pre_header_start') %}
            {{ include('partials/header/logo.html.twig') }}
            {% do action('werf8_post_header_start') %}
        </div>
        <div class="header-end">
            {% do action('werf8_pre_header_end') %}
            {{ include('partials/header/navbar.html.twig') }}
            {% do action('werf8_post_header_end') %}
        </div>
    </div>
</header>
