<header role="banner">
    <div class="container mx-auto">
        <div class="header-start">{% do action('werf8_header_start') %}</div>
        <div class="header-end">
            {% do action('werf8_pre_header_end') %}
            <!-- Hier moet menu komen. -->
            Home
            Locatie
            Woningen
            {% do action('werf8_post_header_end') %}
        </div>
    </div>
</header>
