@use '../variables' as V;

@mixin font-body {
  font-family: V.$font-body;
  font-weight: V.$font-weight-body;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: 0;
}

@mixin font-title {
  font-family: V.$font-title;
  font-weight: V.$font-weight-title;
  font-style: normal;
  line-height: 1;
  letter-spacing: -1px;
}

@mixin font-special {
  font-family: V.$font-special;
  font-weight: V.$font-weight-special;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0;
}
